<!DOCTYPE html>
<html>
<head>
    <title>EJS Website</title>
    <link rel="stylesheet" type="text/css" href="/home.css">
</head>
<a href="/" >Home</a>
<a href="/test" >Test</a>
<a href="/test/deneme" >Test parameter</a>
<body>